{
    "presets": [
        "stage-3"
    ],
    "plugins": [
        "syntax-trailing-function-commas",
        "transform-async-to-generator",
        "transform-es2015-modules-commonjs",
        "transform-exponentiation-operator"
    ]
}
